html {
  font-size: 62.5%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;

  &.sr .load-hidden {
    visibility: hidden;
  }
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #FEFBF6;
  text-align: center;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  html, body {
    overflow: auto;
    height: auto;
    display: block;
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: $light-grey;
}
::-webkit-scrollbar-thumb:hover {
  background: $primary-color;
}
